# Auto detect text files and perform LF normalization
* text=auto
*.dyalog linguist-language=APL
APLSource/ linguist-vendored=false
Dest/ linguist-vendored=false
Make/ linguist-vendored=false
Tests/ linguist-vendored=false
*.dyalog/ linguist-vendored=true