<tool name="OS">  <version>3.0.0</version>  <date>2020-09-07</date>  <container>#.OS</container>  <needs>    <script>APLTreeUtils2</script>    <script development="true">FilesAndDirs</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>    <script development="true">WinSys</script>  </needs>  <autoload>1</autoload>  <buildid>39</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>OS-related tools for all major platforms</desc>  <tags>os-tools;processes;Windows;Linux;Mac-OS</tags>  <new>1</new></tool>
