<tool name="OS">  <version>1.5.0</version>  <date>2019-10-23</date>  <container>#.OS</container>  <needs>    <script>APLTreeUtils</script>    <script development="true">FilesAndDirs</script>    <script development="true">Tester</script>    <script development="true">WinSys</script>  </needs>  <autoload>1</autoload>  <buildid>15</buildid>  <scriptOnly>1</scriptOnly></tool>